@import styles/function

.header
  position: fixed
  top: 0
  left: 0
  width: 100%
  padding:
    top: toRem(20px)
    bottom: toRem(20px)

.nav
  display: flex
  align-items: center
  justify-content: flex-end
  gap: toRem(32px)

.link
  position: relative
  font:
    size: toRem(16px)
    weight: 700
  line-height: 1.5
  cursor: pointer

  .active
    position: absolute
    transform: translate(50%, -50%)

    &::before
      content: ''
      position: absolute
      top: 50%
      left: 50%
      height: toRem(16px)
      width: toRem(16px)
      background-color: var(--accent-500)
      border-radius: 100%
      transform: translate(-50%, -50%) scale(0)
      animation: pulse 1.5s ease infinite
      transition: all 0.2s ease

    &::after
      content: ''
      position: relative
      display: block
      width: toRem(8px)
      height: toRem(8px)
      background: var(--accent-500)
      border-radius: 100%
      transition: all 0.2s ease

.darkModeButton
  display: flex
  justify-content: center
  align-items: center
  padding: toRem(6px)
  background-color: var(--white)
  border-radius: toRem(8px)
  border: 2px solid var(--grey-100)
  transition: background .2s ease, border .2s ease

  &:hover
    background-color: var(--grey-500)
    border-color: var(--grey-500)
    color: var(--white)

@keyframes pulse
  0%
    opacity: 0.5
    transform: translate(-50%, -50%) scale(0)

  50%
    opacity: 0.5

  100%
    opacity: 0
    transform: translate(-50%, -50%) scale(1)
    
