@import styles/function
@import styles/mixin

.card
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-items: flex-start
  gap: toRem(16px)
  padding: toRem(16px)
  border-radius: toRem(6px)
  box-shadow: var(--shadow)
  transition: .2s all ease

  +desktop
    padding: toRem(32px)

  &:hover
    box-shadow: inset 0 0 0 toRem(2px) var(--accent-300)
