@import styles/function
@import styles/mixin

$shades: 100, 200, 300, 400, 500

.button
  padding: toRem(10px) toRem(16px)
  border-radius: toRem(2px)
  font:
    size: toRem(16px)
    weight: 700
    family: inherit
  line-height: 19 / 16 * 1
  transition: all 0.2s ease

  +tablet
    font-size: toRem(12px)
    line-height: 15 / 12 * 1

@each $shade in $shades
  .shade-#{$shade}
    background-color: var(--accent-#{$shade})
    color: var(--white)
