@import @/styles/function
  
.content
  padding: toRem(6px) toRem(12px)
  background: var(--grey-500)
  color: var(--white)
  border-radius: toRem(4px)
  font:
    weight: 300
    size: toRem(10px)
  line-height: toRem(10px)