@import styles/function
@import styles/mixin
  
.blogs
  --mouse-x: 0
  --mouse-y: 0

  padding: toRem(64px) 0 toRem(116px)
  min-height: 100vh
  background:
    image: radial-gradient(transparentize(#f2fff2, .92) 12%, transparent 12%)
    size: toRem(32px) toRem(32px)
    position: var(--mouse-x) var(--mouse-y)
  transition: .3s all ease-out
  
.container
  max-width: toRem(976px)
  padding: 0 toRem(16px)
  margin: auto

.heading
  display: flex
  gap: toRem(64px)
  align-items: center
  font:
    size: toRem(64px)
    weight: 900
  text-transform: uppercase
  margin-bottom: toRem(40px)

.blogItems
  display: grid
  grid-template-columns: repeat(1, 1fr)
  gap: toRem(16px)
