@import ./function
@import ./keyframes
@import ./mixin

$neutral-colors: (0: #f2fff2, 100: #d0d7d0, 200: #91ab91, 300: #587855, 400: #264324, 500: #0a0f05)

:root
  @each $value, $hex in $neutral-colors
    --neutral-#{$value}: #{$hex}
  --notion-blue: #337EA9
  --notion-brown: #9F6B53
  --notion-gray: #787774
  --notion-green: #448361
  --notion-orange: #D9730D
  --notion-pink: #C14C8A
  --notion-purple: #9065B0
  --notion-red: #D44C47
  --notion-yellow: #CB912F
  --primary: #0A0F05
  --primary-soft: #121A0A
  --primary-border: #17210D
  --white: #F2FFF2
  --mouse-x: 0
  --mouse-y: 0

*
  box-sizing: border-box

  ::selection
    background: #0b520b
    color: #f2fff2

body
  margin: 0
  font-size: 20px
  line-height: #{30 / 20 * 1}
  color: var(--white)
  background-color: var(--primary)

  +desktop
    line-height: #{16 / 14 * 1}

h1, h2, h3, h4, h5, h6, p, span
  margin: 0
  font-weight: 300

h1, h2, h3, h4, h5, h6, p, span, svg
  transition: .3s all ease-out

a
  color: inherit
  text-decoration: none

ul, ol
  margin: 0
  padding: 0
  list-style: none

li
  margin: 0
  padding: 0

button
  border: none
  background: none
  cursor: pointer

  &:focus
    outline: none

img, svg
  vertical-align: bottom